.logo {
  padding: 0 30px;
  display: inline-flex;
  align-items: center;
}

.searchSvg {
  width: 17px;
  height: 17px;
  fill: #24af30;
  margin-right: 11px;
}

.bookmarkSvg {
  width: 13px;
  height: 19px;
  fill: #af212b;
  margin-right: 11px;
}

.userBarSvg {
  width: 22px;
  height: 21px;
  fill: #24af30;
  margin-right: 6px;
  margin-top: 2px;
}

.userBar__text {
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 8px;
  transition: color 0.3s ease-in;

  &:hover {
    color: #24af30;
  }
}

.userBar__description {
  display: block;
  font-size: 8px;
  letter-spacing: 1px;

  @media (max-width: 1280px) {
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
  }
}

.noPad {
  padding-left: 0 !important;
}

.wrapperForm {
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  top: 0;
  left: 115px;
  background: #fff;
  color: #000;
  z-index: 951;
  border-left: 1px solid #b8b8b8;
  padding: 20px;
  &:before {
    content:'';
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100vw;
    height: 1px;
    background-color: #000;
}

.visible {
  opacity: 1;
}

.unVisible {
  opacity: 0;
}

.searchBar {
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  }

  .searchSvg_loupe {
    width: 19px;
    height: 19px;
    fill: #000;
    margin-right: 0;
  }

  .searchBar_input {
    flex-grow: 1;
    display: block;
    opacity: 1;
    padding: 0px 17px;
    border: none;
    cursor: text;
    font: 16px/40px Roboto,sans-serif;
    &:focus {
      outline: 0;
    }
  }

  .cls1 {
    position: absolute;
    top: 9px;
    right: 0;
    width: 17px;
    height: 17px;
  }

  .searchOverlay {
    position: absolute;
    z-index: 950;
    min-width: 100%;
    background: #000;
    transition: all .4s ease-out;
    overflow: hidden;
    transform: translate3d(0);
  }

  .unVisibleSearch {
    height: 0px;
    width: 1000px;
    opacity: 0;
  }

  .visibleSearch {
    top: 80px;
    height: calc( 100vh - 80px);
    width: 1000px;
    opacity: 0.5;
  }

}